## ASSIGNMENT

Q1. What is a database? Differentiate between SQL and NoSQL databases.

Database :

A database is a collection of data that is organized, which is also called structured data. It can be accessed or stored in a computer system. It can be managed through a Database Management System (DBMS), a software used to manage data. Database refers to related data in a structured form. 

In a database, data is organized into tables consisting of rows and columns and it is indexed so data can be updated, expanded, and deleted easily. Computer databases typically contain file records data like transactions money in one bank account to another bank account, sales and customer details, fee details of students, and product details. There are different kinds of databases, ranging from the most prevalent approach, the relational database, to a distributed database, cloud database, and NoSQL databases.


#####              SQL         

. RELATIONAL DATABASE MANAGEMENT SYSTEM (RDBMS)  

. These databases have fixed or static or predefined schema

. These databases are not suited for hierarchical data storage.	       

. These databases are best suited for complex queries	                  

. Vertically Scalable	                                                 

. Follows ACID property	                                              

. Examples: MySQL, PostgreSQL, Oracle, MS-SQL Server, etc	               



#####              NOSQL

. Non-relational or distributed database system.

. They have dynamic schema

. These databases are best suited for hierarchical data storage.

. These databases are not so good for complex queries                                                                      
. Horizontally scalable

. Follows CAP(consistency, availability, partition  tolerance)                                                            
. Examples: MongoDB, GraphQL, HBase, Neo4j,etc.

Q2. What is DDL? Explain why CREATE, DROP, ALTER, and TRUNCATE are used with an example.

A data definition language (DDL) is a computer language used to create and modify the structure of database objects in a database. These database objects include views, schemas, tables, indexes, etc.

It is a subset of SQL and a part of DBMS(Database Management System). DDL consist of Commands to commands like CREATE, ALTER, TRUNCATE and DROP. These commands are used to create or modify the tables in SQL.

DDL Commands :

. Create

. Alter

. truncate

. drop

CREATE :

This command is used to create a new table in SQL. The user has to give information like table name, column names, and their datatypes.

Ex-

CREATE TABLE Student_info
(
College_Id number(2),
College_name varchar(30),
Branch varchar(10)
);

ALTER :

This command is used to add, delete or change columns in the existing table. The user needs to know the existing table name and can do add, delete or modify tasks easily.

Ex-

ALTER TABLE Student_info
ADD CGPA number;

TRUNCATE :

This command is used to remove all rows from the table, but the structure of the table still exists.

Ex-

TRUNCATE TABLE Student_info;

DROP :

This command is used to remove an existing table along with its structure from the Database.

Ex-

DROP TABLE Student_info;

Q3. What is DML? Explain INSERT, UPDATE, and DELETE with an example.

DML stands for Data Manipulation Language. DML is a way to inform a database precisely what we want it to do by conversing in a manner that it has been built to comprehend from the scratch. When it comes to interacting within existing data, whether adding, moving, or deleting data, it provides a convenient way to do so.

DML commands are:

. INSERT

. UPDATE

. DELETE


INSERT Command –

This command is used to enter the information or values into a row. We can connect one or more records to a single table within a repository using this instruction. This is often used to connect an unused tag to the documents.

Ex-

INSERT INTO students ('stu_id' int, 'stu_name' varchar(20), 'city' varchar(20))

VALUES ('1', 'Nirmit', 'Gorakhpur'); 

UPDATE Command –

This command is used to alter existing table records. Within a table, it modifies data from one or more records. This command is used to alter the data which is already present in a table.

Ex-

UPDATE students

SET due_fees = 20000

WHERE stu_name = 'Mini';

DELETE Command –

It deletes all archives from a table. This command is used to erase some or all of the previous table’s records. If we do not specify the ‘WHERE’ condition then all the rows would be erased or deleted.

Ex-

DELETE FROM students

WHERE stu_id = '001';

Q4. What is DQL? Explain SELECT with an example.

DQL statements are used for performing queries on the data within schema objects. The purpose of the DQL Command is to get some schema relation based on the query passed to it. We can define DQL as follows it is a component of SQL statement that allows getting data from the database and imposing order upon it. It includes the SELECT statement. This command allows getting the data out of the database to perform operations with it. When a SELECT is fired against a table or tables the result is compiled into a further temporary table, which is displayed or perhaps received by the program i.e. a front-end. 

SELECT: It is used to retrieve data from the database.

Select is the most commonly used statement in SQL. The SELECT Statement in SQL is used to retrieve or fetch data from a database. We can fetch either the entire table or according to some specified rules. The data returned is stored in a result table. This result table is also called the result set. With the SELECT clause of a SELECT command statement, we specify the columns that we want to be displayed in the query result and, optionally, which column headings we prefer to see above the result table. The select clause is the first clause and is one of the last clauses of the select statement that the database server evaluates. The reason for this is that before we can determine what to include in the final result set, we need to know all of the possible columns that could be included in the final result set. 

Ex-
SELECT * FROM table_name; 
This above command retrives all the data from table

SELECT ROLL_NO, NAME, AGE FROM Student;
This command retrives ROLL_NO, NAME and AGE from student table.

Q5. Explain Primary Key and Foreign Key.

Primary Key:

. A primary key is used to ensure that data in the specific column is unique. A column cannot have NULL values. It is either an existing table column or a column that is specifically generated by the database according to a defined sequence. 

. Only one primary key is allowed in a table. 

. It uniquely identifies a record in the relational database table.

. It uniquely identifies a record in the relational database table.

. It does not allow NULL values.

. It does not allow NULL values.

. It constraint can be implicitly defined on the temporary tables.

Foreign Key:

. A foreign key is a column or group of columns in a relational database table that provides a link between data in two        tables. It is a column (or columns) that references a column (most often the primary key) of another table. 

. more than one foreign key are allowed in a table.
 
. It refers to the field in a table which is the primary key of another table.

. It can contain duplicate values and a table in a relational database.

. It can also contain NULL values.

. Its value can be deleted from the child table.

. It constraint cannot be defined on the local or global temporary tables.

Q6. Write a python code to connect MySQL to python. Explain the cursor() and execute() method.

import mysql.connector

mydb = mysql.connector.connect(
  host="localhost",
  user="abc",
  password="password"
)
print(mydb)
mycursor = mydb.cursor()
mycursor.execute("CREATE TABLE if not exists test.test_table(c1 INT,c2 VARCHAR(50),c3 INT,c4 FLOAT,c5 VARCHAR(30))")
mydb.close()

cursor():

The cursor object is used to make the connection for executing SQL queries.It is an object which helps to execute the query and fetch the records from the database.It is a control structure used to traverse and fetch the records of the database. 
All the commands will be executed using cursor object only.

execute():

The execute () method helps us to execute the query and return records according to the query.

Q7. Give the order of execution of SQL clauses in an SQL query.

Order of execution is:

1.from

2.where

3.group by

4.having 

5.select

6.order by

7.limit

-------------